<div class="example-container">
  <mat-card class="example-card">
    <form (ngSubmit)="onSubmit()" #transactionForm="ngForm">
      <mat-form-field class="example-full-width" hideRequiredMarker>
        <input matInput type="text" [(ngModel)]="transaction.receiver" name="receiver" placeholder="Enter receiver"
               #receiver="ngModel" [errorStateMatcher]="matcher" required="">
        <mat-error>
          <span *ngIf="!receiver.valid && receiver.touched">Please enter receiver</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" hideRequiredMarker>
        <input matInput type="text" [(ngModel)]="transaction.amount" name="amount" placeholder="Enter your amount"
               #amount="ngModel" [errorStateMatcher]="matcher" required>
        <mat-error>
          <span *ngIf="!amount.valid && amount.touched">Please enter amount</span>
        </mat-error>
      </mat-form-field>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <div class="button-row">
        <button type="submit" [disabled]="!transactionForm.form.valid" mat-flat-button color="primary">Send</button>
      </div>
    </form>
  </mat-card>
</div>
