<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Stellar</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/transactions">Transactions</a>
      </li>
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/users">Balance</a>
      </li>
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/users">History</a>
      </li>
      <li>
        <a *ngIf="!authenticationService.isLoggedIn" routerLink="/login">Login</a>
      </li>
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/user/add_account">Add account</a>
      </li>
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/user/account">Account</a>
      </li>
      <li>
        <a *ngIf="authenticationService.isLoggedIn" routerLink="/logout">LogOut</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
